extends ../templates/layout

block content
    h3 Registrarse
    form(action="/auth/register", method="POST")
        div
            label(for="nombre") Nombre:
            input(type="text", id="nombre", name="nombre", required=true)
        div
            label(for="password") Contraseña:
            input(type="password", id="password", name="password", required=true)
        div
            button(type="submit") Registrarse
