extends ../templates/layout

block content
  h1 Agregar Nuevo Entrenador
  form(action="/entrenadores/add", method="POST")
    div
      label(for="nombre") Nombre
      input(type="text", name="nombre", id="nombre", required=true)
    div
      label(for="apellido") Apellido
      input(type="text", name="apellido", id="apellido", required=true)
    div
      label(for="especialidad") Especialidad
      input(type="text", name="especialidad", id="especialidad")
    div
      label(for="salario") Salario
      input(type="number", name="salario", id="salario", step="0.01")
    div
      label(for="fecha_contratacion") Fecha de Contratación
      input(type="date", name="fecha_contratacion", id="fecha_contratacion")
    div
      button(type="submit") Guardar
    a(href="/entrenadores") Volver a la lista