extends ../templates/layout

block content
  h1 Eliminar Entrenador
  p ¿Estás seguro de que deseas eliminar al entrenador: #{entrenador.nombre} #{entrenador.apellido}?
  form(action=`/entrenadores/del/${entrenador.entrenador_id}`, method="POST")
    button(type="submit", class="btn btn-danger") Sí, Eliminar
    a(href="/entrenadores", class="btn btn-secondary") No, Volver a la lista