h2 Gym13
nav
      ul
        li
          a(href="/") Inicio
        //- if user
        li
          a(href="/clientes") Clientes
        li 
          a(href="/clases") Clases de Entrenamiento
        li 
          a(href="/entrenadores") Entrenadores
        li 
          a(href="/membresias") Menbresias
        li 
          a(href="/inscripciones_membresias") Inscripciones 
        li
          a(href="/logout") Cerrar sesión
        //- else
          li
            a(href="/login") Iniciar Sesión