h2 Gym13
nav
    ul(class="nav")
        li(class="nav-item")
            a(href="/", class="nav-link") Inicio
        li(class="nav-item")
            a(href="/clientes", class="nav-link") Clientes
        li(class="nav-item")
            a(href="/clases", class="nav-link") Clases de Entrenamiento
        li(class="nav-item")
            a(href="/entrenadores", class="nav-link") Entrenadores
        li(class="nav-item")
            a(href="/membresias", class="nav-link") Membresías
        li(class="nav-item")
            a(href="/inscripciones_membresias", class="nav-link") Inscripciones 
        li(class="nav-item")
            a(href="/auth/logout", class="nav-link") Cerrar sesión
