h2 Gym13
nav
      ul
        li
          a(href="/") Inicio
        //- if user
        li
          a(href="/alumnos") Clientes
        li 
          a(href="/asignaturas") Asignaturas
        li
          a(href="/logout") Cerrar sesión
        //- else
          li
            a(href="/login") Iniciar Sesión
