extends ../templates/layout

block content 
    h3 Añadir una nueva inscripción a membresía
    div(class="container")
        form(action="/inscripciones_membresias/add", method="post") 
            div(class="form-group")
                label(for="cliente_id") Cliente:
                input(type="number", name="cliente_id", class="form-control") 
            div(class="form-group")
                label(for="membresia_id") Membresía:
                input(type="number", name="membresia_id", class="form-control")
            div(class="form-group")
                label(for="fecha_fin") Fecha de fin:
                input(type="date", name="fecha_fin", class="form-control")
            div(class="form-group")
                label(for="estado") Estado:
                select(name="estado", class="form-control")
                    option(value="activa") Activa
                    option(value="inactiva") Inactiva
            button(type="submit", class="btn btn-primary") Enviar